@charset "UTF-8";
@font-face {
  font-family: "MullerRegular";
  src: url("../fonts/MullerRegular.eot");
  src: local("☺"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerBold";
  src: url("../fonts/MullerBold.eot");
  src: local("☺"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerMedium";
  src: url("../fonts/MullerMedium.eot");
  src: local("☺"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerLight";
  src: url("../fonts/MullerLight.eot");
  src: local("☺"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
}

.block-1 {
  background: url(../image/three-womens-1block.png) no-repeat;
  width: 1920px;
  height: 829px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.header {
  display: flex;
  width: 945px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.telefon-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.info-text {
  font-size: 14px;
  font-family: "MullerRegular", sans-serif;
  margin-bottom: 10px;
}

.info-telefon {
  font-size: 20px;
  font-family: "MullerBold", sans-serif;
}

.info {
  margin-top: 173px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  font-family: "MullerMedium", sans-serif;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.list-services {
  font-family: "MullerRegular", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.mesto {
  font-family: "MullerRegular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 90px;
}

.btn-requst {
  padding: 20px 70px;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  background: transparent;
  font-family: "MullerBold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 145px;
}

.btn-requst:hover {
  background: #db883c;
  border: 2px solid #db883c;
}

.social {
  display: flex;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: transparent;
  margin: 0 5px;
}

.social-item:hover {
  background: #db883c;
  border: 1px solid #db883c;
}

.block-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f2e4;
  width: 860px;
  margin: 0 auto;
  padding: 50px 0;
}

.image_bl2 {
  margin-right: 80px;
}

.info-bl2 {
  width: 391px;
}

.title-bl2 {
  font-family: "MullerMedium", sans-serif;
  font-size: 30px;
  line-height: 53px;
  margin-bottom: 30px;
}

.title-bl2 span {
  font-family: "MullerMedium", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}

.info-bl2 p {
  font-family: "MullerLight", sans-serif;
  font-size: 16px;
  margin-bottom: 41px;
}

.icon-inf {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  align-items: center;
}

.icon-inf .icon {
  margin-right: 21px;
}

.icon-inf .inf {
  font-family: "MullerLight", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
