@charset "UTF-8";
@font-face {
  font-family: "MullerRegular";
  src: url("../fonts/MullerRegular.eot");
  src: local("☺"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerBold";
  src: url("../fonts/MullerBold.eot");
  src: local("☺"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerMedium";
  src: url("../fonts/MullerMedium.eot");
  src: local("☺"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MullerLight";
  src: url("../fonts/MullerLight.eot");
  src: local("☺"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
}

.block-1 {
  background: url(../images/three-womens-1block.png) no-repeat;
  width: 1920px;
  height: 829px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.header {
  display: flex;
  width: 945px;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.telefon-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.info-text {
  font-size: 14px;
  font-family: "MullerRegular", sans-serif;
  margin-bottom: 10px;
}

.info-telefon {
  font-size: 20px;
  font-family: "MullerBold", sans-serif;
}

.info {
  margin-top: 173px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 60px;
  font-family: "MullerMedium", sans-serif;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.list-services {
  font-family: "MullerRegular", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.mesto {
  font-family: "MullerRegular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 90px;
}

.btn-requst {
  padding: 20px 70px;
  border: 2px solid #fff;
  color: #fff;
  letter-spacing: 1px;
  background: transparent;
  font-family: "MullerBold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 145px;
}

.btn-requst:hover {
  background: #db883c;
  border: 2px solid #db883c;
}

.social {
  display: flex;
}

.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 1px solid #fff;
  border-radius: 100%;
  background: transparent;
  margin: 0 5px;
}

.social-item:hover {
  background: #db883c;
  border: 1px solid #db883c;
}

.block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f2e4;
  padding: 50px 0;
}

.image_bl2 {
  margin-right: 80px;
}

.info-bl2 {
  width: 391px;
}

.title-bl2 {
  font-family: "MullerMedium", sans-serif;
  font-size: 30px;
  line-height: 53px;
  margin-bottom: 30px;
}

.title-bl2 span {
  font-family: "MullerMedium", sans-serif;
  font-size: 48px;
  text-transform: uppercase;
}

.info-bl2 p {
  font-family: "MullerLight", sans-serif;
  font-size: 16px;
  margin-bottom: 41px;
}

.icon-inf {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  align-items: center;
}

.icon-inf .icon {
  margin-right: 21px;
}

.icon-inf .inf {
  font-family: "MullerLight", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.block-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-bl3 {
  font-family: "MullerMedium", sans-serif;
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 17px;
}

.cards-h {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 32px;
}

.card-h {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 27%;
  height: 225px;
  text-align: center;
  font-family: "MullerRegular", sans-serif;
  font-size: 16px;
  margin-bottom: 45px;
}

.card-h p {
  width: 250px;
}

.block-4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f2e4;
  height: 487px;
}

.slider {
  margin-top: 82px;
}

.block-4 .title-bl4 {
  font-family: "MullerMedium", sans-serif;
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 17px;
}

.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.cont .box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffff;
  width: 880px;
  height: 470px;
  color: #fff;
  background-color: rgba(67, 53, 53, 0.4);
  z-index: 777;
}

.cont .box .title-slide {
  font-family: "MullerMedium", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.cont .box p {
  font-family: "MullerRegular", sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 470px;
  text-align: center;
}

.block-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 270px;
}

.title-bl5 {
  font-family: "MullerMedium", sans-serif;
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 17px;
}

.cards-tour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 940px;
  margin: 70px 0;
}

.card-tour {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f2e4;
  flex-basis: 23%;
  margin: 8px;
}

.date-event {
  font-family: "MullerLight", sans-serif;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.theme-event {
  font-family: "MullerMedium", sans-serif;
  font-size: 16px;
  margin-bottom: 15px;
}

.link-more {
  font-family: "MullerRegular", sans-serif;
  font-size: 12px;
  margin-bottom: 15px;
}

.btn-requst-sm {
  padding: 10px 15px;
  border: 2px solid #db883c;
  color: #db883c;
  letter-spacing: 1px;
  background: transparent;
  font-family: "MullerMedium", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0px 20px 20px 20px;
}

.btn-requst-sm:hover, .btn-requst-sm:focus {
  background: #db883c;
  border: 2px solid #db883c;
  color: #ffffff;
  outline: none;
}

.btn-requst-sm:active {
  outline: none;
}

.block-6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f2e4;
  height: 487px;
}

.slider {
  margin-top: 82px;
}

.block-6 .title-bl6 {
  font-family: "MullerMedium", sans-serif;
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 17px;
}

.cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 940px;
  margin: 0 auto;
}

.cont .box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffff;
  width: 880px;
  height: 470px;
  color: #fff;
  background-color: rgba(67, 53, 53, 0.4);
  z-index: 777;
}

.cont .box .title-slide {
  font-family: "MullerMedium", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.cont .box p {
  font-family: "MullerRegular", sans-serif;
  font-size: 18px;
  font-weight: 300;
  width: 470px;
  text-align: center;
}

.block-7, .inf-block-7, .cards-list {
  width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title-bl7 {
  margin-top: 350px;
  font-family: "MullerMedium", sans-serif;
  font-size: 36px;
  margin-bottom: 16px;
}

.sub-title-bl7 {
  font-family: "MullerMedium", sans-serif;
  font-size: 24px;
}

.card-list, .inf-block-7 p {
  font-family: "MullerLight", sans-serif;
  font-size: 18px;
}

.inf-block-7 p {
  text-align: center;
  margin: 65px 0;
}

.cards-list {
  margin: 50px 0;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-list p {
  width: 460px;
  margin-left: 40px;
}

/*# sourceMappingURL=style.css.map */
