@import "variables";

.overlay-bl8 {
  width: 725px;
  height: 260px;
  margin-left: 460px;
  position: absolute;
  background-color: #f8f2e4;
  //margin: 0 auto;
  z-index: 0;
}

.block-8 {
  width: 940px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}


.gallery-bl8 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-row: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.image-bl8 {
  width: 140px;
  height: 140px;
}

.title-bl8 {
  font-family: $MullerMedium;
  font-size: 30px;
  margin-bottom: 10px;
}

.sub-title-bl8 {

  font-family: $MullerLight;
  font-size: 14px;
  margin-bottom: 35px;
}

.right-bl8 {
  margin: 25px 0 80px 50px;
}

.info-bl8 {
  margin-bottom: 40px;
 }

.inf-block-8 p {
  font-family: $MullerLight;
  font-size: 18px;
}

.info-bl8 p, .item-list p {
  text-align: left;
  font-family: $MullerLight;
  font-size: 12px;
}

.item-list p {
  width: 185px;
  margin: 0 15px;
}
.item-list {
  display: flex;
  justify-content: flex-start;
  margin: 7px 0;
}

.list-bl8 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 460px;
  height: 260px;
}

.icon-bl8 {
  width: 13px;
  height: 13px;
}

