@import "variables";

.block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f2e4;
  padding: 50px 0;
}

.image_bl2 {
  margin-right: 80px;
}

.info-bl2 {
  width: 391px;
}

.title-bl2 {
  font-family: $MullerMedium;
  font-size: 30px;
  line-height: 53px;
  margin-bottom: 30px;
}

.title-bl2 span {
  font-family: $MullerMedium;
  font-size: 48px;
  text-transform: uppercase;
}

.info-bl2 p {
  font-family: $MullerLight;
  font-size: 16px;
  margin-bottom: 41px;
}

.icon-inf {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
  align-items: center;
}

.icon-inf .icon {
  margin-right: 21px;
}

.icon-inf .inf {
  font-family: $MullerLight;
  font-size: 18px;
  text-transform: uppercase;
}