@import "variables";

.block-7, .inf-block-7, .cards-list {
  width: 940px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title-bl7 {
  margin-top: 350px;
  font-family: $MullerMedium;
  font-size: 36px;
  margin-bottom: 16px;
}

.sub-title-bl7 {
  font-family: $MullerMedium;
  font-size: 24px;
}

.card-list, .inf-block-7 p {
  font-family: $MullerLight;
  font-size: 18px;
}

.inf-block-7 p {
  text-align: center;
  margin: 65px 0;
}

.cards-list {
  margin: 50px 0;
}

.card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card-list p {
  width: 460px;
  margin-left: 40px;
}
