.overlay-bl9 {
  @include wh_size(1920px, 1140px);
  position: absolute;
  background-color: #f8f2e4;
  z-index: 0;
}

.block-9 {
  @include flex(column, center, center);
  width: 940px;
  margin: 0 auto;
  position: relative;
}

.image-bl9 {
  @include wh_size(940px, 540px);
}

.zig {
  margin-bottom: 70px;
}

.title-bl9 {
  @include use_font($MullerMedium, 36px);
  margin: 70px 0 17px 0;
}

.instructor {
  @include flex(row, flex-start, flex-end);
  position: relative;
  margin-bottom: 20px;
}

.instructor .instr-box  {
  @include flex(row, flex-start, center);
  @include wh_size(940px, 170px);
  position: absolute;
  color:#fff;
  background-color: rgba(67,53,53, 0.4);
  z-index: 777;
}

.name-instr {
  @include use_font($MullerMedium, 30px);
  margin: 0 10px 0 60px;
  width: 280px;
  z-index: 777;
}

.name-instr .sis {
  @include use_font($MullerRegularItalic, 16px);
  line-height: 1.2;
  display: block;
  margin-top: 18px;
}


.instructor p {
  @include use_font($MullerRegular, 14px);
  width: 460px;
  z-index: 777;
  color: #ffffff;
}

.separator {
  @include wh_size(2px, 80px);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  margin-right: 50px;
  z-index: 777;
}