@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/MullerRegular.eot');
  src: local('☺'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerRegularItalic';
  src: local('☺'), url('../fonts/MullerRegularItalic.woff') format('woff'), url('../fonts/MullerRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/MullerBold.eot');
  src: local('☺'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/MullerMedium.eot');
  src: local('☺'), url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MullerLight';
  src: url('../fonts/MullerLight.eot');
  src: local('☺'), url('../fonts/MullerLight.woff') format('woff'), url('../fonts/MullerLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}